<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:replace="~{${page} :: pageTitle}">레이아웃 타이틀</title>

    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/page/admin/admin-layout.css}">

    <th:block th:replace="~{${page} :: pageLinks}"></th:block>
</head>
<body>
<div class="admin-layout">
    <aside class="sidebar">
    </aside>

    <main class="main-content">
        <header class="main-header">
            <h1 th:replace="~{${page} :: pageH1}">페이지 제목</h1>
        </header>
        <div class="content-wrapper">
            <th:block th:replace="~{${page} :: pageContent}"></th:block>
        </div>
    </main>
</div>
</body>
</html>